<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>anomie0xff</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false)}}">
</head>

<body>
    <div class="header">
        <h3><ul>
            <li><a href="/">/anomie0xff</a></li>
            <li><a href="/writeups">/writeups</a></li>
            <li><a href="/pwn_bootcamp">/pwn_bootcamp</a></li>
        </ul></h3>
    </div>
    <section class="section">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>
</body>

</html>
